<div>

 <table class="table table-borderless " style="font-size:25px; padding:10px; border:1px solid darkgrey;">
    <tr style="color:black;">
      <th>STANDARD</th>
      <th>UNIVERSITY</th>
      <th>INSTITUTE</th>
      <th>BRANCH</th>
      <th>PERCENTAGE</th>
      <th>TIME-FRAME</th>
      <th>YEAR OF PASSING</th>
    </tr>
    <tr style="color:black;">
        <td>Bachelor of engineering</td>
        <td>Vtu university</td> 
        <td>AMC engineering college</td>
        <td>Electronics and communication</td>
        <td>77.8%</td>
        <td>2016-2020</td>
        <td>2020</td>
    </tr>
    <tr style="color:black;">
        <td>PUC</td>
        <td>karnataka PU board</td>
        <td>ST.Francis PU college</td>
        <td>PCMB</td>
        <td>86%(12th)</td>
        <td>2014-2016</td>
        <td>2016</td>
    </tr>
    <tr style="color:black;">
        <td>school</td>
        <td>karnataka state board</td>
        <td>Shanthiniketan school</td>
        <td>state syllabus</td>
        <td>86%(10th)</td>
        <td>2002-2014</td>
        <td>2014</td>
    </tr>
    </table>
    <div style="padding-top:300px;"></div>
    <div>
    