<div>
<table class="table table-borderless" style="font-size:25px; padding:14px; border:1px solid darkgrey;">
<tr style="color:black;">
    <th>PROJECT NAME</th>
    <th>SEM</th>
    <th>YEAR</th>
</tr>
<tr style="color:black;">
    <td>Water level detector</td>
    <td>3rd Sem</td>
    <td>2017</td>
</tr>
<tr style="color:black;">
    <td>Gas Leakage detector</td>
    <td>4th Sem</td>
    <td>2018</td>
</tr>
<tr style="color:black;">
    <td>Arduino Calculator</td>
    <td>6th Sem</td>
    <td>2019</td>
</tr>
<tr style="color:black;">
    <td>Security System</td>
    <td>6th Sem</td>
    <td>2019</td>
</tr>
<tr style="color:black;">
    <td>Line Following Robot</td>
    <td>6th Sem</td>
    <td>2019</td>
</tr>
<tr style="color:black;">
    <td>Maze Solving Robot</td>
    <td>6th Sem</td>
    <td>2019</td>
</tr>
<tr style="color:black;">
    <td>Sign Language-Speech conversation using video processing for special words and numbers</td>
    <td>8th sem</td>
    <td>2020</td>
</tr>
</table>
<div style="padding-top:200px;"></div>
</div>
