
          <div class="container">
           <div class="row">
            
          <div class="col-md-10">
              
          <ul style="font-size:20px;padding:10px;margin:10px;font-style:normal">
              <li><strong>NAME</strong>-Karthik.S</li>
              <li><strong>FATHER'S NAME</strong>-Sadananda reddy.N</li>
              <li><strong>DOB</strong>-27/02/1999</li>
              <li><strong>GMAIL</strong>-karthiksreddy10@gmail.com</li>
              <li><strong>GENDER</strong>-Male</li>
              <li><strong>ADDRESS</strong>-#162/2,11th main,18th cross,near blue malibu apartment,Viratnagar,bommanahalli,bangalore-560068</li>
              <li><strong>PHONE</strong>-8884918715</li>
              <li><strong>LANGUAGES KNOWN</strong>-English,Kannada,Telgu,Tamil,Hindi</li>
          </ul>
          <div>
          <br>
          
          <a target="_blank" href="https://www.linkedin.com/in/karthik-reddy-19150818b">
        <span><i style="font-size:50px" class="fab fa-linkedin" ></i></span></a>
        <span class="bg"></span>
        
        <a target="_blank" href="https://www.instagram.com/_karthiksreddy_">
            <span><i style="font-size:50px" class="fab fa-instagram-square"></i></span></a>
            <span class="bg"></span>
            
            
            <a target="_blank" href="https://www.twitter.com/Karthik38422054">
                <span><i style="font-size:50px" class="fab fa-twitter-square"></i></span></a>
                <span class="bg"></span>
        
        </div>
     </div></div></div>
            <!-- <div class="col-md-2"> 
              <img src="assets/kiki3.jpg" style="width:100px,height=100px">
          </div></div></div> -->