<div>
<table class="table table-borderless " style="font-size:22px; padding:10px; border:1px solid darkgrey;">
    <tr>
        <th>PERSONAL SKILLS</th>
      <th>TECHNICAL SKILLS</th>
    </tr>
    <tr>
        <td>
        <br><br><br>
            <ul>
                
                <li>Dedicated</li>
                <li>Optimistic</li>
                <li>Calculated</li>
                <li>Can Gel with people</li>
                <li>Adaptive &Willingness to learn</li>
                <li>Persistance</li>
                <li>Cool approach to problems</li>
            </ul>
        </td>
        <td>
            <table>
                <tr>
                <th>Operating system</th>
                <th>Databases</th>
                <th>Programming languages</th>
                <th>Networking</th>
            <th>Frameworks</th></tr>
                <tr><td><ul><li>MS Dos</li><li>Windows 7/8/10XP</li><li>Linux</li></ul></td>
                <td><ul><li>Ms Access</li><li>HTML</li><li>MS excel</li><li>MS powerpoint</li><li>MS word</li><li>Mailing</li><li>SQL server</li></ul></td>
            <td><ul><li>c</li><li>c++</li><li>Embedded C</li><li>Csharp</li><li>JavaScript</li><li>Verilog</li><li>VHDL</li><li>Typescript</li></ul></td>
        <td><ul><li>OSI & TCP/IP models</li><li>SAML</li><li>IDP & SP</li><li>Active directory</li><li>Transport layer protocols</li><li>DNS</li><li>Window protocol</li><li>Proxy</li><li>Buses</li><li>Topology's</ul></td>
        <td><ul><li>Angular JS</li><li>.NET</li>
        <li>Visual Studio Code</li><li>Visual studio</li></ul></td></tr>
            </table>
        </td>
    </tr>
    
    </table><div style="padding-top:300px;"></div></div>