
<!--<nav class="navbar navbar-expand-lg navbar-black bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" style="color:red; font-size: 30px;" routerLink="/firstpage"><strong>RESUME`</strong></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
        <a class="nav-link" style="color:white; font-size :20px; margin-left:70px;" routerLink="/education">EDUCATION</a>
        <li class="nav-item">
          <a class="nav-link" style="color:white; font-size:20px;margin-left:20px;" routerLink="/projects">PROJECTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color:white; font-size:20px;margin-left:20px;" routerLink="/skills">SKILLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:white; font-size:20px;margin-left:20px;" routerLink="/internships">INTERNSHIPS</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" style="color:white; font-size:20px;margin-left:20px;" routerLink="/hobbies">HOBBIES</a>
          </li>
          </ul></div></nav>-->

          
          
          <ul>
            <li><a  routerLink="/firstpage">RESUME`</a></li>
            <li><a  routerLink="/education">Education</a></li>
            <li><a routerLink="/projects">Projects</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/internships">Internships</a></li>
            <li><a routerLink="/hobbies">Hobbies</a></li>
            
          </ul>
          