<div>
    <div class="row">
<div class="col-md-4">
    
    <img src="kiki.png" class="round">
    </div>
    <div class="col-md-4">
        <p>charlene</p>
        <div>@charleneDoe</div>
    </div>
    <div class="col-md-4" class=rightside>
        5m ago
        <i class="fas fa-ellipsis-h"></i>
    </div>
    </div>

    <div class="size1">
        going on a hike any
    </div>
    <div class="size1">suggestions?</div>

    <div class="row">
        <div class="col-md-4">
            <i class="fas fa-share-alt-square"></i> 32
        </div>
        <div class="col-md-4">
            <i class="fas fa-share-alt-square"></i> 45
        </div>
        <div class="col-md-4">
            <i class="fas fa-share-alt-square"></i> 65
        </div>
    </div>
    </div>
    <hr>
    <div>
        <div class="row">
    <div class="col-md-4">
        
        <img src="kiki.png" class="round">
        </div>
        <div class="col-md-4">
            <p>buddyblue</p>
            <div>@buddy</div>
        </div>
        <div class="col-md-4" class=rightside>
            5m ago
            <i class="fas fa-ellipsis-h"></i>
        </div>
        </div>
    
        <div class="size1">
            going on a hike any
        </div>
        <div class="size1">suggestions?</div>
    
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-share-alt-square"></i> 32
            </div>
            <div class="col-md-4">
                <i class="fas fa-share-alt-square"></i> 45
            </div>
            <div class="col-md-4">
                <i class="fas fa-share-alt-square"></i> 65
            </div>
        </div>
        </div>



